* {
    color: white;
  }
  
  header {
    background-color: blue;
    height: 55px;
    width: 100%;
    position: absolute;
    top: 0px;
  }
  
  h4 {
    text-align: center;
    color: white;
  }
  
  .mbody {
    top: 0px;
    height: 1500px;
    margin: 0px;
    padding: 0px;
    border: hidden;
    background-image: url("../assets/images/futur.jpg");
  }
  
  .routeroutlet {
    margin-top: 350px;
    height: 1000px;
    width: 1000px;
    position: absolute;
    opacity: 0.9;
  }
  