<div class="m-5">

    <h3>Livre</h3>
    <div class="row line pb-4 mt-5">
        <div class="col-6">
            <h5>Titre</h5>
        </div>
        <div class="col-6">
            <h5>Date</h5>
        </div>
    </div>


    <div class="line mt-3" *ngFor="let book of books">
         <a routerLink="/book-detail/{{ book.id }}"> 
            <div class="row">
                <div class="col-6">                    
                    {{ book.title }}
                </div>
                <div class="col-6">
                    {{ book.publicationDate | date:'dd/MM/yyyy'}}
                </div>
            </div>
         </a> 
    </div>
</div>
