<nav class="bg-dark">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-4"><a href="home" style="color: white">La futurothèque</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="container m-4">
            <ul>
                <li class="nav-item"><a class="nava nav-link" routerLinkActive="linkActive" routerLink="home">Home</a></li>
                <li class="nav-item"><a class="nava nav-link" routerLinkActive="linkActive"routerLink="book">Book</a></li>
                <li class="nav-item"><a class="nava nav-link" routerLinkActive="linkActive" routerLink="author">Auteur</a></li>
                <li class="nav-item"><a class="nava nav-link" routerLinkActive="linkActive" routerLink="profile">Profil</a></li>
                <li class="nav-item"><a class="nava nav-link" routerLinkActive="linkActive" routerLink="login">Login</a></li>
                <!-- <app-cart-menu></app-cart-menu> -->
            </ul>
        </div>
    </div>

</nav>